html {
  box-sizing: border-box;
  font-size: 18px; }

*, *:before, *:after {
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

body {
  background-color: #fafafa; }

.constraint {
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px; }

h1 {
  display: inline-block;
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  background-color: #2E86C1;
  border-radius: 7px;
  color: #ffffff;
  font-family: "Fugaz One", "Times New Roman", sans-serif;
  font-size: 28px;
  line-height: 28px; }

h2 {
  color: #ffffff; }

section {
  margin-bottom: 25px;
  padding: 25px; }

.light-purple-bg {
  background-color: #f5eef8; }

.dark-purple-bg {
  background-color: #d7bde2; }
